<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    <div class="small-container">
        <div class="logisection">
            <div class="signup-section">
                <h3>미라클 회원가입</h3>
                <form action="/" id="signup-form" method="post" enctype="multipart/form-data">
                    <input type="email" placeholder="이메일">
                    <input type="username" placeholder="이름">
                    <input type="password" placeholder="비밀번호">
                    <button>회원가입</button>
                </form>
                <div class="sns-signup">
                    <div class="signup-sns">구글</div>
                    <div class="signup-sns">카카오톡</div>
                    <div class="signup-sns">네이버</div>
                </div>
                <p>이미 계정이 있으신가요? <a href="/login">로그인</a></p>
            </div>
        </div>
    </div>
</body>

</html>