<header>
    <div class="logo">
        <h3>뱛벓미라클 블로그뱛벓</h3>
    </div>
    <nav>
        <div id="menu_bar">
            <ul class="">
                {{^sessionUser}}
                    <a href="/login">
                        <li>로그인</li>
                    </a>
                {{/sessionUser}}
                {{#sessionUser}}
                    <a href="/">
                        <li>로그아웃</li>
                    </a>
                {{/sessionUser}}
                <a href="">
                    <li>Life Log</li>
                </a>

                <a href="">
                    <li>Hand Book</li>
                </a>
                <a href="">
                    <li>CookBook</li>
                </a>
            </ul>
        </div>
    </nav>
</header>