<div>
    <div class="side_menu">
        <div class="profile">
            <img src="/images/profile.jpg" alt="">
            <p>양승호님! 안녕하세요!</p>
            <p>이 블로그는 다음의 기술로 만들어졌습니다!</p>
            <p>· (Html/Css) Mustache</p>
            <p>· Devtools</p>
            <p>· Spring</p>
            <p>· Lombok</p>
            <p>· JPA</p>
            <p>· H2</p>
            <p>· MySQL</p>
        </div>
        <ul>
            <a href="">
                <li>자유 게시판</li>
            </a>
            <a href="">
                <li>전국 날씨 ( 공공 API )</li>
            </a>
            <a href="">
                <li>Bank App</li>
            </a>
            <a href="">
                <li>Miracle Blog</li>
            </a>
            <a href="">
                <li>더보기</li>
            </a>
        </ul>
    </div>
</div>